<template name="Promo">
    <!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
    <html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>LetsLeak - Naughty nothings, Silly somethings</title>
        <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
        <meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1.0, user-scalable=0">
        <link href='http://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
        <style type="text/css">
            @media only screen and (min-device-width: 320px) and (max-device-width: 600px) {
                h2 {
                    font-size: 20px;
                    font-weight: bold;
                }
                p {
                    font-size: .8em;
                }
            }
            @media only screen and (min-device-width: 767px) {
                h2 {
                    font-size: 1.2em;
                }
            }
            a{
                text-decoration: none;
            }
        </style>
    </head>
    <body>
    <table width="90%" border="0" cellpadding="0" cellspacing="0" style="margin:20px auto; background-color:#ffffff;max-width: 690px;">
        <tr>
            <td align="center">
                <table cellspacing="0" cellpadding="0" border="0">
                    <tr>
                        <td>
                            <a href="{{this.url}}" target="_blank">
                                <div style="margin-top:10px;"><img src="{{this.url}}/images/letsleak_logo.png" width="37" height="84" alt=""></div>
                            </a>
                        </td>
                        <td>
                            <a href="{{this.url}}" target="_blank">
                                <div style="display:inline-block;font-family: 'Lato', sans-serif; font-weight: 400; font-size:60px; font-weight:bold; color:#3c3c3c;">LetsLeak<img src="{{this.url}}/images/tag-line.jpg" style="margin-top: -10px;display: block;"/></div>
                            </a>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td colspan="2" style="background-image: url('{{this.url}}/images/letsleak_logo_divider.png'); background-repeat: no-repeat; background-position: center;" height="30"></td>
        </tr>
        <tr>
            <td colspan="2" style="font-family: 'Lato', sans-serif;">
                <div style="font:30px; font-weight:bold; margin:20px auto; width:90%">how-<span style="color:#198ad1;">d'ye-do!</span></div>
                <div style="line-height:26px; width:90%; margin:10px auto;">If there is something itching to get out of you, LetsLeak is right here. LetsLeak is a platform where you can confess, gossip and share any high-profile info with <b>no-names-attached</b>.</div>
                <table cellspacing="0" cellpadding="0" border="0" style="margin-top:70px">
                    <tr>
                        <td style="padding-left:0px; padding-top: 0px; padding-right: 20px; padding-bottom: 10px;margin-left: 0;margin-top: 0;margin-bottom: 0;margin-right: 0;vertical-align: top;"><img src="{{this.url}}/images/post-icon.jpg" width="80" height="80" alt="Post"></td>
                        <td>
                            <h2 style="margin-left:0; margin-top:0;margin-right:0;margin-bottom:0; padding-left:0; padding-top:0; padding-right:0; padding-bottom:0; ;font-weight:bold;">Post</h2>
                            <p style=" ;padding-left:0;padding-top:0;padding-bottom:0;padding-right:0; margin-left:0; margin-right:0; margin-bottom:0; margin-top:0;line-height:22px">
                            <p>If there is something you wanna share with no-names attached, LetsLeak right here. May the
                                world know some gossip, insider high-profile info, guilt or what-so-ever might be on your mind
                                or rather in your tummy (with the paunch ;))
                            </p>
                            </p>
                            <div style="border-bottom:1px solid #cccccc; width:200px; margin-left:auto;margin-right:auto;display:block;margin-top:30px;margin-bottom:30px"></div>
                        </td>
                    </tr>
                    <tr>
                        <td style="padding-left:0px; padding-top: 0px; padding-right: 20px; padding-bottom: 10px;margin-left: 0;margin-top: 0;margin-bottom: 0;margin-right: 0;vertical-align: top;"><img src="{{this.url}}/images/home-feed-icon.jpg" width="80" height="80" alt="Look"></td>
                        <td>
                            <h2 style="margin-left:0; margin-top:0;margin-right:0;margin-bottom:0; padding-left:0; padding-top:0; padding-right:0; padding-bottom:0; ;font-weight:bold;">Look</h2>
                            <p style=" ;padding-left:0;padding-top:0;padding-bottom:0;padding-right:0; margin-left:0; margin-right:0; margin-bottom:0; margin-top:0;line-height:22px">
                            <p>You see you are not the only one.</br>
                                You see,</br>
                                there are others in the same boat, stories to reveal without the unnecessary hassles.</br>
                                And you see,</br>
                                LetsLeak, some are nasty, some fake and some pure divine.
                            </p>
                            </p>
                            <div style="border-bottom:1px solid #cccccc; width:200px; margin-left:auto;margin-right:auto;display:block;margin-top:30px;margin-bottom:30px"></div>
                        </td>
                    </tr>
                    <tr>
                        <td style="padding-left:0px; padding-top: 0px; padding-right: 20px; padding-bottom: 10px;margin-left: 0;margin-top: 0;margin-bottom: 0;margin-right: 0;vertical-align: top;"><img src="{{this.url}}/images/bucket-icon.jpg" width="80" height="80" alt="Save"></td>
                        <td>
                            <h2 style="margin-left:0; margin-top:0;margin-right:0;margin-bottom:0; padding-left:0; padding-top:0; padding-right:0; padding-bottom:0; ;font-weight:bold;">Save</h2>
                            <p style=" ;padding-left:0;padding-top:0;padding-bottom:0;padding-right:0; margin-left:0; margin-right:0; margin-bottom:0; margin-top:0;line-height:22px">
                            <p>Once bucket-ed, unfold your collectibles one fine day.</br>
                                Once saved, read your bucket and browse through other's.</br>
                                Once archived, leave the rest to LetsLeak.
                            </p>
                            </p>
                            <div style="border-bottom:1px solid #cccccc; width:200px; margin-left:auto;margin-right:auto;display:block;margin-top:30px;margin-bottom:30px"></div>
                        </td>
                    </tr>
                    <tr>
                        <td style="padding-left:0px; padding-top: 0px; padding-right: 20px; padding-bottom: 10px;margin-left: 0;margin-top: 0;margin-bottom: 0;margin-right: 0;vertical-align: top;"><img src="{{this.url}}/images/bucket-insight-icon.jpg" width="80" height="80" alt="Read"></td>
                        <td>
                            <h2 style="margin-left:0; margin-top:0;margin-right:0;margin-bottom:0; padding-left:0; padding-top:0; padding-right:0; padding-bottom:0; ;font-weight:bold;">Read</h2>
                            <p style=" ;padding-left:0;padding-top:0;padding-bottom:0;padding-right:0; margin-left:0; margin-right:0; margin-bottom:0; margin-top:0;line-height:22px">
                            <p>Collect your broodings and safe-keep the flowing inspiration, funk and pun. Do not let them
                                pass, Bucket them before they vanish! LetsLeak is here.
                            </p>
                            </p>
                        </td>
                    </tr>
                </table>
                <div style="line-height:26px; width:90%; margin:30px auto; text-align:center;"> <a href="{{this.url}}" target="_blank" alt="Visit us" style="outline:none; text-decoration:none;"><img src="{{this.url}}/images/letsleak_visit_us.png" width="262" height="56" alt=""></a> <br>
                    <img alt="Visit us" src="{{this.url}}/images/letsleak_mail_button_shadow.png" width="262" height="22" alt="">
                </div>
                <div style="line-height:26px; width:90%; margin:10px auto;">Cheers!<br>
                    Team LetsLeak
                </div>
                <div style="font-size:11px; color:#a6a6a6;padding:10px; margin-bottom:20px; width:90%; margin-left:2%; margin:10px auto"> PS: We strongly recommend you to visit our <a target="_blank" href="{{this.url}}/GroundRules">Ground Rules</a> and <a target="_blank" href="{{this.url}}/FAQs">FAQs</a>.</div>
                <hr style="border-top:1px solid #b1b1b1; width:95%; margin:10px auto;"/>
                <div style="font-size:11px; color:#a6a6a6;padding:10px; margin-bottom:20px; width:90%; text-align:center"> This is a system generated email. Please do not reply to this mail.</div>
                <!-- <div style="margin-bottom:20px; width:90%; text-align:center; font-size:11px; color:#a6a6a6;">If you are not able to see this mailer, please <a href="#" alt="">click here</a>.</div></td> -->
        </tr>
    </table>
    </body>
    </html>
</template>